name: Gradle


on:
  push:
  pull_request:
  workflow_dispatch:


jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
      # https://github.com/actions/checkout
      - name: Checkout Git repository
        uses: actions/checkout@v6.0.1

     # https://github.com/actions/cache
      - name: Cache Gradle
        uses: actions/cache@v5.0.1
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle-

      # https://github.com/gradle/actions
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      # https://github.com/actions/setup-java
      - name: Setup JDK 21
        uses: actions/setup-java@v5.1.0
        with:
          distribution: temurin
          java-version: 21
          java-package: jdk
          architecture: x64

      - name: Configure Git
        run: git config --global user.name "Github Actions" && git config --global user.email "actions@github.com"

      - name: Make Gradlew executable
        run: chmod +x ./gradlew

      # https://github.com/nick-fields/retry
      - name: Build project
        uses: nick-invision/retry@v3.0.2
        with:
          max_attempts: 2
          timeout_minutes: 1
          command: ./gradlew clean shadowJar

      # https://github.com/actions/upload-artifact
      - name: Upload build artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: TemplateGradle
          path: build/libs/TemplateGradle-*.jar